<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}



</style>
</head>
<body>

<div class="split left">
  <div class="centered">


<h2>Results From ML Model</h2>
  {% for day in ml_model %}
  <tr>
    <td>{{day}}</td>  {# <- not working_days #}
  </tr>
{% endfor %}




  </div>
</div>

<div class="split right">
  <div class="centered">

    <h2>Results from topo</h2>
    {% for day in topo %}
  <tr>
    <td>{{day}}</td>  {# <- not working_days #}
  </tr>
{% endfor %}
     <button class="btn btn-success" onclick=" window.open('example.html')"> Visualize</button>
  </div>
</div>

</body>
</html>
