<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Web Application</title>
    <meta charset="utf-8">
    <meta name="author" content="AnikeSadia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="static/AppStyle.css">


</head>
<body>

<div class="model_desc">
    <h2>

    </h2><br>
    <p>This web application is an insurance charges prediction system. The aim of this project is to predict individuals medical insurance charges in dollars based on their status.</p>
    <p>After inputting the corresponding data, a predicted insurance charges is displayed.<br><br>The Body Mass Index (BMI) is a measure of body fat based on height and weight.<br><br> BMI= m/h &sup2
        , m = mass (in Kilogram) and h = height (in meters).
    </p>

</div>

<div class="data_part">
    <div class="model_desc2">
        <h2>Our Second Page</h2><br>
        <p>This web application is an insurance charges prediction system.</p>
        <p>The aim of this project is to predict individuals insurance charges in dollars based on their status.</p>
        <p>After inputting the corresponding data, a predicted insurance charges is displayed.<br><br>The Body Mass Index (BMI) is a measure of body fat based on height and weight.<br><br> BMI= m/h &sup2
            , m = mass (in Kilogram) and h = height (in meters).
        </p>
    </div>


    <h1>Second Page</h1>
    {% for a,b in colours.items() %}
            <option value="{{colour}}" SELECTED>{{a}}</option>"
            {% endfor %}

    {% for a,b in colours.items() %}
            <option value="{{colour}}" SELECTED>{{b}}</option>"
            {% endfor %}

    <h3> {{prediction_text}} </h3>

</div>



</body>
</html>